

@model TerminologyDemo.Models.UserAccount
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Login</h2>

<form class="form-horizontal" asp-controller="Home" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="EmailId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EmailId" class="form-control" />
            <span asp-validation-for="EmailId" class="text-danger"></span>
        </div>
    </div>
    
    </div>

    <div class="form-group">
        <label asp-for="ConformPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConformPassword" class="form-control" />
            <span asp-validation-for="ConformPassword" class="text-danger"></span>
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">ResetPassword</button>
        </div>
        
    </div>
</form>